    @media only screen and (max-width: 1178px) {
        body {
            font-family: 'Lato', sans-serif;
            margin: 0;
        }
        /* menu buttn -------------------------------------------- */
        #navmenu>span {
            display: block;
            width: 20px;
            height: 2px;
            border-radius: 9999px;
            background-color: black;
        }
        button.menu-button {
            z-index: 99;
        }
        #navmenu>span:not(:last-child) {
            margin-bottom: 7px;
        }
        #navmenu {
            display: block;
            position: absolute;
            top: 15px;
            right: 10px;
        }
        #navmenu,
        #navmenu>span {
            transition: all .4s ease-in-out;
        }
        #navenu.active {
            transition-delay: 0.4s;
            transform: rotate(45deg);
        }
        #navmenu:active>span:nth-child(2) {
            width: 0;
        }
        #navmenu.active>span:nth-child(1),
        #navmenu.active>span:nth-child(2) {
            transition-delay: .2s;
        }
        #navmenu.active>span:nth-child(1) {
            transform: translate(9px) rotate(-405deg);
            background-color: white;
            position: absolute;
            top: 20px;
            right: 13px;
            width: 27px;
            z-index: 99;
        }
        #navmenu.active>span:nth-child(2) {
            display: none;
        }
        #navmenu.active>span:nth-child(3) {
            transform: translate(-9px) rotate(405deg);
            background-color: white;
            position: absolute;
            top: 20px;
            right: -6px;
            width: 27px;
            z-index: 99;
        }
        .menu-list {
            display: none;
            z-index: 19;
            width: 100vw;
            height: 100vh;
            margin: 0;
            text-align: center;
            opacity: .98;
            overflow: visible;
        }
        .menu-class {
            display: flex;
            margin: 0;
        }
        /*  header ----------------------------------------------------------------- */
        .first-header {
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 99;
            height: 100%;
            background-color: white;
            width: 100%;
            height: 50px;
        }
        .company-name {
            margin: 15px 0 5px 15px;
            font-size: 20px;
            z-index: 18;
            position: fixed;
        }
        /* menu ---------------------------------------------------------------*/
        .menu-list {
            padding: 0;
            margin-top: 0;
            margin-bottom: 40px;
        }
        .menu-class {
            margin: 0;
            height: 100vh;
        }
        .menu-button {
            border-style: none;
            padding: 4px 0px 10px 0;
        }
        .header-list {
            list-style: none;
        }
        .menu-items {
            margin: 0;
            display: block;
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: 650;
            padding-bottom: 22px;
            padding-top: 22px;
            background-color: rgb(10, 83, 159);
        }
        .menu-items-quote:hover {
            color: white;
            background-color: rgb(57, 146, 238);
        }
        /* get quote --------------------------------------------------------------- */
        .get-quote {
            padding-top: 30px;
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            background-size: cover;
            margin: 0;
            text-align: center;
            padding-top: 60px;
            padding-bottom: 25px;
        }
        .quote-form {
            margin: 0;
        }
        .form-items {
            margin: 3px;
            width: 70%;
            height: 35px;
        }
        .inner-headings {
            text-align: center;
        }
        .third-part {
            width: 92%;
            margin: 0 auto;
        }
        .icon-img {
            display: block;
            margin: 0 auto;
        }
        .part-three-heading {
            text-align: center;
            margin: 0;
        }
        /* services ------------------------------------------------------- */
        .our-services {
            background-color: rgb(10, 83, 159);
            padding-bottom: 35px;
        }
        .services-heading {
            text-align: center;
            padding-top: 10px;
        }
        .services-description {
            background-color: white;
            border-radius: 20px;
            width: 85%;
            margin: 0 auto;
            margin-top: 30px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
        .services-icons {
            display: block;
            margin: 0 auto;
            padding-top: 25px;
        }
        .icon-headings,
        .services-more-info {
            text-align: center;
        }
        .services-more-info {
            text-decoration: none;
            color: black;
            display: block;
            margin: 0 auto;
        }
        /*       reviews -------------------------------------------------------- */
        .reviews {
            padding-bottom: 35px;
        }
        .reviews-heading {
            text-align: center;
        }
        .reviews-base {
            text-align: center;
            margin-top: 0;
        }
        .five-o {
            background-color: rgb(10, 83, 159);
            color: white;
            padding: 5px;
            border-radius: 10px;
        }
        .inside-reviews {
            background-color: rgb(10, 83, 159);
            color: white;
            width: 75%;
            margin: 0 auto;
            border-radius: 20px;
            padding: 10px;
            margin-top: 25px;
        }
        /*  contact us - ----------------------------------------------------------------------- */
        .contact-us {
            background-color: rgb(10, 83, 159);
            padding-bottom: 35px;
            padding-top: 10px;
        }
        .contact-us-heading {
            text-align: center;
            color: white;
        }
        .map-dimensions {
            display: block;
            margin: 0 auto;
        }
        .form-message {
            height: 150px;
        }
        .form-items-1 {
            width: 80%;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            height: 35px;
            border-radius: 8px;
            border-style: none;
        }
        .form-submit {
            padding-bottom: 20px;
        }
        /*  before footer --------------------------------------------------------------- */
        .before-footer {
            text-align: center;
        }
        .more-info-1 {
            text-decoration: none;
            color: rgb(10, 83, 159);
        }
        /* footer --------------------------------------------------------- */
        footer {
            background-color: rgb(10, 83, 159);
            text-align: center;
            color: white;
        }
        .privacy-policy {
            color: white;
            text-decoration: none;
        }
        .leon-gongola {
            color: white;
            text-decoration: none;
        }
        /* aboutus page--------------------------------------------------------- */
        .about-us-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            padding-bottom: 25px;
            color: white;
        }
        .about-us-heading {
            display: block;
            text-align: center;
            font-size: 40px;
            padding-top: 100px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        .about-us-passage-container {
            background-color: rgb(10, 83, 159);
            color: white;
            padding-bottom: 30px;
        }
        .about-us-first-heading-1 {
            margin-top: 0;
            text-align: center;
            padding-top: 20px;
        }
        .about-us-passage {
            width: 90%;
            margin: 0 auto;
        }
        .about-us-passage-headings {
            text-align: center;
        }
        /* services page ---------------------------------- */
        .services-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            padding-bottom: 25px;
            color: white;
        }
        .services-heading-3 {
            display: block;
            text-align: center;
            font-size: 40px;
            padding-top: 100px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        .services-container {
            background-color: rgb(10, 83, 159);
            padding-bottom: 35px;
        }
        .service-first-header-1 {
            text-align: center;
            margin-top: 0;
            padding-top: 15px;
            color: white;
        }
        .services-passage {
            width: 94%;
            margin: 0 auto;
            color: white;
        }
        /* testimonials page------------------------------------------------------ */
        .testimonials-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            padding-bottom: 25px;
            color: white;
        }
        .testimonials-heading {
            display: block;
            text-align: center;
            font-size: 40px;
            padding-top: 100px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        .testimonials-container {
            background-color: rgb(10, 83, 159);
            padding-bottom: 35px;
        }
        .testimonials-first-header-1 {
            margin-top: 0;
            text-align: center;
            padding-top: 25px;
            color: white;
        }
        .inside-reviews-1 {
            background-color: rgb(43, 100, 170);
        }
        .reviews-images {
            display: block;
            margin: 0 auto;
        }
        .reviews-names {
            text-align: center;
        }
        /* FAQS ------------------------------------------------------------------- */
        .faqs-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            padding-bottom: 25px;
            color: white;
        }
        .faq-image {
            display: none;
        }
        .faqs-heading {
            display: block;
            text-align: center;
            font-size: 40px;
            padding-top: 100px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        .faq-container {
            background-color: rgb(10, 83, 159);
            padding-bottom: 35px;
        }
        .faq-1st-heading {
            margin-top: 0;
            text-align: center;
            padding-top: 25px;
            color: white;
        }
        .faq-questions {
            width: 90%;
            margin: 0 auto;
        }
        .faq-button {
            background-color: rgb(10, 83, 159);
            border-style: none;
            color: white;
        }
        #firstfaq,
        #secondfaq,
        #thirdfaq,
        #fourthfaq,
        #fifthfaq {
            display: none;
            font-weight: 500;
            color: white;
        }
        /* contact-us-page------------------------------- */
        .contact-us {
            margin: 0 auto;
            padding-bottom: 0;
        }
        .form-submit {
            margin-bottom: 40px;
        }
        iframe {
            width: 100vw;
        }
        .contact-us-1 {
            text-align: center;
        }
        .contact-us-page-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            padding-bottom: 25px;
            color: white;
        }
        .contact-us-page-heading-1 {
            display: block;
            text-align: center;
            font-size: 40px;
            padding-top: 100px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        /* get free quote page----------------------------------------------- */
        .get-free-quote-page-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            padding-bottom: 25px;
            color: white;
        }
        .get-free-quote-page-heading-1 {
            display: block;
            text-align: center;
            font-size: 40px;
            padding-top: 100px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        .get-free-quote-form {
            background-color: rgb(10, 83, 159);
            text-align: center;
            padding-top: 50px;
        }
        /* moving- tips page ------------------------------------------ */
        .moving-tips {
            background-color: rgb(10, 83, 159);
            color: white;
            padding: 20px 50px 20px 50px;
        }
        .moving-tip-1 {
            margin-top: 0;
        }
        /* packing page --------------------------------------------------- */
        .packing-page {
            background-color: rgb(10, 83, 159);
            color: white;
            padding: 20px 50px 20px 50px;
        }
        /* local move page ---------------------------------------- */
        .local-move {
            background-color: rgb(10, 83, 159);
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .local-move-inside {
            width: 90%;
            margin: 0 auto;
        }
        .local-move-header {
            text-align: center;
            margin-top: 0;
        }
        /* long distance move -------------------------------------------- */
        .long-distance-move {
            background-color: rgb(10, 83, 159);
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .long-distance-move-inside {
            width: 90%;
            margin: 0 auto;
        }
        .long-distance-move-header {
            text-align: center;
            margin-top: 0;
        }
        /* office move ------------------------------------------------------------- */
        .office-move {
            background-color: rgb(10, 83, 159);
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .office-move-inside {
            width: 90%;
            margin: 0 auto;
        }
        .office-move-header {
            text-align: center;
            margin-top: 0;
        }
        /* storage page ------------------------------------------------- */
        .storage-page {
            background-color: rgb(10, 83, 159);
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .storage-inside {
            width: 90%;
            margin: 0 auto;
        }
        .storage-header {
            text-align: center;
            margin-top: 0;
        }
    }
    
    @media only screen and (min-width: 1178px) {
        /* background-color: rgb(57, 146, 238); */
        /* background-color: rgb(10, 83, 159); */
        /* font-family: 'Lato', sans-serif;
font-family: 'Lemonada', cursive; */
        body {
            font-family: 'Lato', sans-serif;
            margin: 0;
        }
        /* menu button--------------------------- */
        .menu-button {
            display: none;
        }
        /* header -----------------------------------------*/
        .company-name {
            margin: 0 65px 0 25px;
            padding: 10px;
            font-weight: 900;
            font-size: 20px;
            padding-top: 20px;
        }
        .first-header {
            display: flex;
            justify-content: space-evenly;
            padding: 0 80px 0 80px;
            position: fixed;
            z-index: 99;
            width: 100%;
            background: white;
        }
        .menu-list {
            display: flex;
            justify-content: space-evenly;
            padding: 0 50px 0 50px;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .header-list {
            list-style: none;
        }
        .menu-items {
            text-decoration: none;
            color: rgb(10, 83, 159);
            font-size: 18px;
            font-weight: 650;
            padding: 10px;
            margin: 0 5px 0 5px;
        }
        .menu-items:hover {
            color: rgb(57, 146, 238);
        }
        .menu-items-quote {
            color: white;
            background-color: rgb(10, 83, 159);
            border-radius: 20px;
        }
        .menu-items-quote:hover {
            color: white;
            background-color: rgb(57, 146, 238);
        }
        /* second part ------------------------------------- */
        .get-quote {
            background-image: url(images/movingtruck-pexels-photoscom-93398.jpg);
            margin: 0;
            display: grid;
            background-size: cover;
            background-repeat: no-repeat;
            grid-template-columns: 1fr 1fr;
        }
        .form-items {
            margin: 10px 4px 10px 4px;
            width: 250px;
            border-radius: 5px;
            height: 40px;
            border: none;
        }
        .form-message {
            width: 87%;
            resize: none;
            height: 150px;
            text-size-adjust: 50px;
            font-family: 'Lato', sans-serif;
        }
        textarea {
            font-family: 'Lato', sans-serif;
        }
        .form-message::-webkit-scrollbar {
            width: 0px;
        }
        .form-subject {
            width: 87%;
            overflow: auto;
        }
        .form-submit {
            background-color: rgb(10, 83, 159);
            color: white;
        }
        .quote-form {
            padding-left: 30%;
            padding-top: 200px;
            padding-bottom: 130px;
        }
        /* third part ----------------------------------- */
        .third-part {
            margin: auto;
            width: 60%;
        }
        .inner-headings {
            padding-top: 20px;
            padding-bottom: 0%;
            text-align: center;
        }
        .truck-icon,
        .shield-icon,
        .doc-icon,
        .rate-icon {
            display: flex;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .truck-icon {
            margin-top: 30px;
        }
        .sec-part-paragraph {
            margin: 0 30px 0 30px;
            padding: 10px;
            font-size: 19px;
            font-weight: 500;
        }
        .part-three-heading {
            /* font-size: 25px; */
            font-weight: 900;
        }
        .icon-img {
            padding-top: 25px;
        }
        /* fourth part ----------------------------------- */
        .services-heading {
            color: white;
            text-align: center;
        }
        .our-services {
            background-color: rgb(10, 83, 159);
            padding-top: 20px;
        }
        .services {
            width: 65%;
            margin: 0 auto;
            color: black;
            font-weight: 500;
        }
        .services-first {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .services-second {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .services-description {
            background-color: white;
            margin: 9px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 18px;
        }
        .services-description-bottom {
            margin-bottom: 80px;
        }
        .services-description:hover {
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
        }
        .services-icons {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            margin-bottom: 10px;
        }
        .icon-headings {
            text-align: center;
        }
        .services-more-info {
            display: block;
            text-align: center;
            text-decoration: none;
            color: black;
        }
        /* fifth part ------------------------------------ */
        .reviews-heading {
            text-align: center;
            margin: 0;
            padding-top: 35px;
            color: rgb(10, 83, 159);
        }
        .reviews {
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .inside-reviews {
            border-radius: 25px;
            /* background-color: rgb(57, 146, 238); */
            background-color: rgb(10, 83, 159);
            margin: 50px 10px 70px 10px;
            padding: 20px;
            color: white;
        }
        .five-o {
            color: white;
            background-color: rgb(10, 83, 159);
            padding-right: 5px;
            padding-left: 5px;
            border-radius: 10px;
        }
        .reviews-names {
            text-align: center;
        }
        .reviews-images {
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 100px;
        }
        .reviews-base {
            font-size: 23px;
            text-align: center;
            margin-bottom: 0;
            font-weight: 600;
        }
        .google-map-icon {
            margin-bottom: 0;
        }
        /* sixth part---------------------------------- */
        .contact-us {
            background-color: rgb(10, 83, 159);
            background-size: cover;
            background-repeat: no-repeat;
        }
        /* .contact-us-1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
        } */
        .home-map {
            display: block;
            margin: 0 auto;
        }
        .form-items-2 {
            width: 98%;
        }
        .quote-form-home {
            width: 64%;
            display: block;
            margin: 0 auto;
        }
        .contactus-home-page {
            text-align: center;
        }
        .contact-us-heading {
            text-align: center;
            padding-bottom: 30px;
            margin-top: 0;
            padding-top: 25px;
            color: white;
        }
        .form-subject-2,
        .form-message-2 {
            width: 98%;
        }
        .form-items-1 {
            margin: 10px 4px 10px 4px;
            width: 250px;
            border: 5px solid black;
            border-radius: 5px;
            height: 40px;
            border: none;
        }
        .form-submit-home-page,
        .form-submit-contact-us-page {
            display: block;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        .form-submit-2 {
            background-color: white;
            color: rgb(10, 83, 159);
        }
        .contact-us-form {
            margin: 0 auto;
        }
        /* seventh part-------------------------------------- */
        .before-footer {
            background-color: white;
        }
        .before-footer-container {
            color: white;
            width: 85%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-bottom: 30px;
            padding-top: 30px;
        }
        .more-info {
            color: rgb(10, 83, 159);
            text-decoration: none;
            font-weight: 600;
        }
        .more-info-1:hover {
            text-decoration: underline;
        }
        /* footer ------------------------------------------ */
        footer {
            padding-top: 7px;
            padding-bottom: 7px;
            background-color: rgb(10, 83, 159);
            color: white;
            text-align: center;
        }
        .privacy-policy {
            color: white;
            text-decoration: none;
        }
        .leon-gongola {
            color: white;
            text-decoration: none;
        }
        /* about us page----------------------------------------- */
        .about-us-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 250px;
            color: white;
            font-size: 150px;
        }
        .about-us-heading {
            display: block;
            text-align: center;
            font-size: 90px;
            padding-top: 200px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        .about-us-first-heading {
            margin-top: 0;
            padding-top: 10px;
        }
        .about-us-passage-headings {
            text-align: center;
            font-size: 25px;
        }
        .about-us-passage-container {
            background-color: rgb(10, 83, 159);
            color: white;
        }
        .about-us-passage {
            color: white;
            width: 70%;
            margin: 0 auto;
        }
        .about-us-last-passage {
            padding-bottom: 50px;
        }
        .about-us-first-heading-1 {
            margin-top: 0;
            text-align: center;
            padding-top: 30px;
        }
        /* services page--------------------------- */
        .services-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 250px;
            color: white;
            font-size: 150px;
        }
        .services-container {
            background-color: rgb(10, 83, 159);
        }
        .services-heading-1 {
            display: block;
            text-align: center;
            font-size: 90px;
            padding-top: 200px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        .services-passage {
            color: white;
            display: block;
            width: 85%;
            margin: 0 auto;
            margin-bottom: 25px;
        }
        .service-first-header-1 {
            color: white;
            margin-top: 0;
            text-align: center;
            padding-top: 30px;
        }
        /* testimonials page */
        .testimonials-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 250px;
            color: white;
            font-size: 150px;
        }
        .testimonials-first-header-1 {
            color: white;
            margin-top: 0;
            text-align: center;
            padding-top: 30px;
        }
        .testimonials-heading {
            display: block;
            text-align: center;
            font-size: 90px;
            padding-top: 200px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        .testimonials-container {
            background-color: rgb(10, 83, 159);
        }
        .inside-reviews-1 {
            /* background-color: rgb(57, 146, 238); */
            background-color: white;
            color: black;
        }
        /* FAQ'S page --------------------------------------- */
        .faqs-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 250px;
            color: white;
            font-size: 150px;
        }
        .faqs-heading {
            display: block;
            text-align: center;
            font-size: 90px;
            padding-top: 200px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        .faq-1st-heading {
            text-align: center;
            color: white;
            margin-top: 0;
            padding-top: 35px;
        }
        .faq-container {
            background-color: rgb(10, 83, 159);
        }
        .faq-questions {
            width: 65%;
            margin: 0 auto;
            color: white;
        }
        .faq-inside-headings-1st {
            margin-top: 0;
            padding-top: 20px;
        }
        .faq-last-heading {
            padding-bottom: 60px;
        }
        .faq-button {
            padding-left: 0;
            margin-bottom: 5px;
            margin-top: 5px;
            background-color: rgb(10, 83, 159);
            color: white;
            border-style: none;
        }
        #firstfaq,
        #secondfaq,
        #thirdfaq,
        #fourthfaq,
        #fifthfaq {
            display: none;
            font-size: 18px;
            font-weight: 500
        }
        /* contact us page ---------------------------------------------- */
        .contact-us-page-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 250px;
            color: white;
            font-size: 150px;
        }
        .contact-us-page-heading-1 {
            display: block;
            text-align: center;
            font-size: 90px;
            padding-top: 200px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        /* get free quote --------------------------------------------------  */
        .get-free-quote-page-header {
            background-image: url(images/movingtruck-pexels-photoscom-93398\ -\ Copy.jpg);
            margin: 0;
            height: 180px;
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 250px;
            color: white;
            font-size: 150px;
        }
        .get-free-quote-page-heading-1 {
            display: block;
            text-align: center;
            font-size: 90px;
            padding-top: 200px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
        }
        iframe {
            width: 100vw;
        }
        .get-free-quote-form {
            background-color: rgb(10, 83, 159);
        }
        .get-free-quote-form-2 {
            padding-top: 70px;
            padding-bottom: 70px;
            width: 50%;
            margin: 0 auto;
        }
        .quote-form-items {
            width: 98%;
        }
        .quote-page-form-submit {
            display: block;
            margin: 0 auto;
        }
        .home-page-map {
            width: 100%;
        }
        /* movng tips page ---------------------------------------------------------------- */
        .moving-tips {
            background-color: rgb(10, 83, 159);
            color: white;
            font-size: 18px;
            padding: 50px 240px 50px 240px;
        }
        .moving-tip-1 {
            margin-top: 0;
        }
        /* packing page------------------------------------------------------ */
        .packing-page {
            background-color: rgb(10, 83, 159);
            color: white;
            font-size: 18px;
            padding: 50px 240px 50px 240px;
        }
        /* local move page -------------------------------------------- */
        .local-move {
            background-color: rgb(10, 83, 159);
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 19px;
            font-weight: 500;
        }
        .local-move-inside {
            width: 90%;
            margin: 0 auto;
        }
        .local-move-header {
            margin-top: 0;
            text-align: center;
        }
        /* long distance page ---------------------------------------------------- */
        .long-distance-move {
            background-color: rgb(10, 83, 159);
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 19px;
            font-weight: 500;
        }
        .long-distance-move-header {
            margin-top: 0;
            text-align: center;
        }
        .long-distance-move-inside {
            width: 90%;
            margin: 0 auto;
        }
        /* office move -------------------------------------------------------------- */
        .office-move {
            background-color: rgb(10, 83, 159);
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 19px;
            font-weight: 500;
        }
        .office-move-header {
            margin-top: 0;
            text-align: center;
        }
        .office-move-inside {
            width: 90%;
            margin: 0 auto;
        }
        /* storage page ------------------------------------------ */
        .storage-page {
            background-color: rgb(10, 83, 159);
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 19px;
            font-weight: 500;
        }
        .storage-header {
            margin-top: 0;
            text-align: center;
        }
        .storage-inside {
            width: 90%;
            margin: 0 auto;
        }
    }